#mailchimp {
  #mc_embed_signup {
    max-width: 600px;
    margin: 30px auto 0;
  }
  #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    .indicates-required {
      margin-bottom: 30px;
    }
    .asterisk {
      color: $primary;
    }
    .mc-field-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      flex-wrap: wrap;
      align-items: center;
      label,
      input {
        text-align: center;
      }
      label {
        margin: 0 0 7px 0;
        width: 100%;
      }
      input {
        flex: 1 0 auto;
        line-height: 24px;
        padding: 5px 10px;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      @media(min-width:400px) {
        flex-wrap: nowrap;
        label,
        input {
          text-align: left;
        }
        label {
          margin: 0 20px 0 0;
          width: 125px;
        }
        input {
          width: auto;
        }
      }
    }
    .mc-form-submit {
      margin-top: 30px;
    }
  }
}
