// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: relative;

  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;

    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }
    .intro-heading {
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 25px;
      @include heading-font;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }
  }
}

@media(min-width: 992px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 1px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

@media(min-width:550px) {
  header.masthead .intro-text {
    padding-top: 200px;
    padding-bottom: 150px;
  }
}
